@import url("https://fonts.googleapis.com/css2?family=Geom:wght@300;400;500;600;700&&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Geom', 'Inter', system-ui, sans-serif;
  }
  
  body {
    @apply antialiased;
  }
}

@layer components {
  .btn-primary {
    @apply bg-primary-500 hover:bg-primary-600 text-white font-medium py-2 px-4 rounded-lg transition-colors duration-200 focus:outline-none focus:ring-2 focus:ring-primary-500 focus:ring-offset-2;
  }
  
  .btn-secondary {
    @apply bg-gray-200 hover:bg-gray-300 text-gray-900 font-medium py-2 px-4 rounded-lg transition-colors duration-200 focus:outline-none focus:ring-2 focus:ring-gray-500 focus:ring-offset-2;
  }
  
  .input-field {
    @apply w-full px-3 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-primary-500 focus:border-transparent dark:bg-gray-50 dark:border-gray-600 dark:text-white;
  }
  
  .card {
    @apply bg-white dark:bg-gray-50 rounded-2xl shadow-sm border border-gray-200 dark:border-gray-700;
  }

  .table-head{
    @apply bg-gray-100 dark:bg-gray-950 text-gray-700 dark:text-gray-800 sticky top-0
  }
}